<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Job Applications</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<!-- Navigation Buttons -->
    <nav>
      <a href="/logout">Logout</a>
      <form action="/applications/add" method="POST" id="add-application-form">
        <button type="submit" id="add-application-button">Add New Entry</button>
        </form>
      <% if (isAdmin) { %>
        <a href="/admin/logs">Logs</a>
        <a href="/admin/users">Users</a>
      <% } %>
    </nav>
    <h1>Applications</h1>

  <% if (applications.length === 0) { %>
    <p>No applications found.</p>
  <% } else { %>
    <table>
      <thead>
        <tr>
          <th>Company</th>
          <th>Status</th>
          <th>Applied Time</th>
          <th>Last Update Time</th>
          <th>Action</th> <!-- Modify column -->
        </tr>
      </thead>
      <tbody>
        <% applications.forEach(app => { %>
          <tr>
            <td><%= app.company %></td>
            <td><%= app.status %></td>
            <td><%= new Date(app.applied_at).toLocaleString() %></td>
            <td><%= new Date(app.last_update || app.applied_at).toLocaleString() %></td>
            <td>
                <!-- Modify button -->
                <form action="/applications/<%= app.id %>" method="GET" id="button-form">
                    <button type="submit" id="edit-application-button">Modify</button>
                </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
</body>
</html>
